<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Astypalaia App v0.1</name>

<icon src="icon.png" />

<description>
A simple app for Astypalaia Island Greece.
</description>

<author href="https://web10.gr" email="info@web10.gr">
panos
</author>

</widget>
